/* LandingPage.css */
* {
	box-sizing: border-box;
	margin: 0;
	overflow: hidden;
	padding: 0;
}

.landing-page {
	background-color: #f8f8f8;
	height: 100vh;
	position: relative;
	width: 100vw;
}

.background-image {
	background-image: url("https://cdn.pixabay.com/photo/2017/07/13/08/59/greenhouse-2499758_1280.jpg");
	background-position: center;
	background-size: 100% 100%;
	filter: brightness(0.8);
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
}
.content {
	align-items: center;
	backdrop-filter: blur(4px);
	background-color: rgba(0, 0, 0, 0.5);
	display: flex;
	gap: 20px;
	height: 100vh;
	justify-content: center;
	top: 100px;
	width: 100vw;
}

.landing_content {
	align-items: center;
	display: flex;
	flex-direction: column;
	gap: 10px;
	height: 400px;
	justify-content: center;
	margin-left: 100px;
	margin-top: 430px;
	text-align: center;
	transform: translate(-50%, -50%);
	/* background-color: red; */
	width: 400px;
	z-index: 1;
}

.content p,
.content h1 {
	color: white;
}

.content h1 {
	font-size: 48px;
	margin-bottom: 10px;
}

.content p {
	font-size: 25px;
}

.divider {
	background-color: #4caf50;
	height: 2px;
	margin: 10px 0;
	width: 50px;
}

.get-started-button {
	background-color: #4caf50;
	border: none;
	border-radius: 5px;
	color: white;
	cursor: pointer;
	font-size: 23px;
	margin-top: 40px;
	padding: 15px 25px;
	transition: background-color 0.3s ease;
}

.get-started-button:hover {
	background-color: #45a049;
}

/* ProductList.css */

.product-list-container {
	/* Ensure it's above landing page content */
	backdrop-filter: blur(5px);
	background-color: rgba(255, 255, 255, 0.9);
	height: 100vh;
	/* Initially off-screen */
	left: 0;
	overflow-x: hidden;
	/* Smooth transition for top property */
	overflow-y: auto;
	position: absolute;
	top: 100vh;
	/* Adjust background opacity as needed */
	transition: top 0.5s ease;
	width: 100%;
	/* Enable vertical scrolling */
	z-index: 2;
}

.product-list-container.visible {
	top: 0;
}
/* LandingPage.css */
@media screen and (max-width: 768px) {
	.content {
		align-items: center;
		flex-direction: column;
		height: 100vh;
		width: 100vw;
	}

	.landing_content {
		margin-left: 0;
		margin-top: 100px; /* Adjust as needed */
		text-align: center;
		width: 80%; /* Adjust as needed */
	}

	.aboutus_container {
		margin-top: 20px; /* Adjust as needed */
		width: 80%; /* Adjust as needed */
	}
}

@media screen and (max-width: 480px) {
	.landing_content {
		margin-top: 50px; /* Adjust as needed */
		width: 90%; /* Adjust as needed */
	}

	.aboutus_container {
		width: 90%; /* Adjust as needed */
	}
}
