/* CartItem.css */
/* CartItem.css */

.cart-item {
	background-color: white;
	border-bottom: 1px solid #ccc;
	display: flex;
	gap: 30px;
	padding: 10px 0;
	width: 500px;
}

.cart-item-image {
	height: 200px;
	/* object-fit: contain; */
	margin-right: 20px;
	width: 200px;
}

.cart-item-details {
	flex-grow: 1;
}

.cart-item-name {
	font-size: 25px;
	font-weight: bold;
	margin-bottom: 5px;
}

.cart-item-cost {
	margin-bottom: 10px;
	margin-top: 10px;
}

.cart-item-quantity {
	align-items: center;
	display: flex;
	margin-bottom: 15px;
}

.cart-item-button {
	background-color: #f0f0f0;
	border: 1px solid lightgrey;
	border-radius: 5px;
	color: #333;
	cursor: pointer;
	font-size: 18px;
	margin: 0 5px;
	padding: 5px 10px;
}

.cart-item-quantity-value {
	font-size: 16px;
	font-weight: bold;
	margin: 0 10px;
}

.cart-item-total {
	font-weight: bold;
}

.cart-item-delete {
	background-color: #ff6961;
	border: none;
	border-radius: 10px;
	color: #fff;
	cursor: pointer;
	font-size: 14px;
	margin-top: 10px;
	padding: 10px 15px;
}

.cart-item-delete:hover {
	background-color: #cc0000;
}
/* .cart-item-button-dec{
  background-color: red;
}
.cart-item-button-inc{
  background-color: green;
} */
@media (max-width: 768px) {
	.cart-item {
		align-items: flex-start; /* Align items to the start of the container */
		flex-direction: column; /* Change flex direction to stack items vertically */
		width: 100%; /* Set width to full width */
	}

	.cart-item-image {
		height: auto; /* Allow image height to adjust proportionally */
		margin-bottom: 10px; /* Add margin bottom for spacing */
		margin-right: 0; /* Remove margin */
		width: 100%; /* Set image width to full width */
	}

	.cart-item-details {
		width: 100%; /* Set details width to full width */
	}

	.cart-item-quantity {
		margin-top: 10px; /* Add margin top for spacing */
	}
}
.cart-item {
	background-color: white;
	border-bottom: 1px solid #ccc;
	display: flex;
	gap: 30px;
	padding: 10px 0;
	width: 500px;
}

.cart-item-image {
	height: 200px;
	/* object-fit: contain; */
	margin-right: 20px;
	width: 200px;
}

.cart-item-details {
	flex-grow: 1;
}

.cart-item-name {
	font-size: 25px;
	font-weight: bold;
	margin-bottom: 5px;
}

.cart-item-cost {
	margin-bottom: 10px;
	margin-top: 10px;
}

.cart-item-quantity {
	align-items: center;
	display: flex;
	margin-bottom: 15px;
}

.cart-item-button {
	background-color: #f0f0f0;
	border: 1px solid lightgrey;
	border-radius: 5px;
	color: #333;
	cursor: pointer;
	font-size: 18px;
	margin: 0 5px;
	padding: 5px 10px;
}

.cart-item-quantity-value {
	font-size: 16px;
	font-weight: bold;
	margin: 0 10px;
}

.cart-item-total {
	font-weight: bold;
}

.cart-item-delete {
	background-color: #ff6961;
	border: none;
	border-radius: 10px;
	color: #fff;
	cursor: pointer;
	font-size: 14px;
	margin-top: 10px;
	padding: 10px 15px;
}

.cart-item-delete:hover {
	background-color: #cc0000;
}
/* .cart-item-button-dec{
    background-color: red;
  }
  .cart-item-button-inc{
    background-color: green;
  } */
@media (max-width: 768px) {
	.cart-item {
		align-items: flex-start; /* Align items to the start of the container */
		flex-direction: column; /* Change flex direction to stack items vertically */
		width: 100%; /* Set width to full width */
	}

	.cart-item-image {
		height: auto; /* Allow image height to adjust proportionally */
		margin-bottom: 10px; /* Add margin bottom for spacing */
		margin-right: 0; /* Remove margin */
		width: 100%; /* Set image width to full width */
	}

	.cart-item-details {
		width: 100%; /* Set details width to full width */
	}

	.cart-item-quantity {
		margin-top: 10px; /* Add margin top for spacing */
	}
}

.cart-container {
	align-items: center;
	/* text-align: center; */
	display: flex;
	flex-direction: column;
	gap: 20px;
	justify-content: center;
	margin-top: 20px;
}
.total_cart_amount {
	font-size: 20px;
	font-weight: 900;
}
.continue_shopping_btn {
	margin-top: -50px;
}
@media (max-width: 768px) {
	.cart-container {
		padding: 10px; /* Reduce padding */
	}

	.total_cart_amount {
		font-size: 18px; /* Reduce font size */
	}
}

.get-started-button1 {
	background-color: #4caf50;
	border: none;
	border-radius: 5px;
	color: white;
	cursor: pointer;
	font-size: 23px;
	margin-top: 40px;
	padding: 15px 75px;
	transition: background-color 0.3s ease;
}
